<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.0.275-beta" targetFramework="net452" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net452" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="NGettext" version="0.5.0" targetFramework="net452" />
  <package id="NLog" version="4.2.3" targetFramework="net452" />
  <package id="Nowin" version="0.22.2.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
</packages>
