# -*-mode: yaml -*-

port: 8080

database: test.db # %APPDATA%/DotOPDS/test.db

log:
  enabled: true
  path: logs # %APPDATA%/DotOPDS/logs
  level: debug

authentication:
  enabled: true
  attempts: 3
  users:
    - login: nis
      pass: 123
  banned:
    - 192.168.0.254

pagination: 30

converters:
  - ext: epub
    command: converters/fb2epub/fb2epub.exe {src} {dest}
