@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    ViewBag.Title = "Series";
    Layout = "_Layout.cshtml";
    var q = (string)Model.Series ?? "";
    var query = "/series/" + q.Trim();
}

@if (Model != null)
{
    <div class="row">
        <div class="search-info">Найдено @Model.Total книг.</div>
        @Helpers.Pager(ViewBag.CurrentPage, ViewBag.TotalPages, 5, query)
    </div>
    <div class="clearfix"></div>

    if (Model.Total == 0)
    {
        <span>Suggestions</span>
    }

    foreach (var book in Model.Books)
    {
        @Html.Partial("_Book", book)
    }

    <div class="row">
        @Helpers.Pager(ViewBag.CurrentPage, ViewBag.TotalPages, 5, query)
    </div>
}
else
{
    <div>no query</div>
}