@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using DotOPDS.Utils
@{
    ViewBag.Title = "Index";
    Layout = "_Layout.cshtml";
}

<a href="/search">Search</a>
<a href="/authors">By authors</a>
<a href="/genres">By genres</a>
