
* {
  font-family: "Open Sans";
}

/* Bootstrap customization */
.form-control,
.form-control:focus,
.btn:active,
.btn:hover,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.btn-default:active,
.btn-default:hover,
.btn-default:focus {
  background-color: #fff !important;
}

.btn-info:active,
.btn-info:hover,
.btn-info:focus {
  background-color: #1eaedb !important;
  border-color: #1eaedb !important;
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-weight: 600;
  text-transform: uppercase;
}

h3.title {
  font-family: Lobster;
}

html, button, input, select, textarea {
  color: #222;
}

/* search */
.search-info {
  font-weight: bold;
  float: left;
  padding-left: 27px;
  padding-top: 30px;
}

nav.pagination-fix {
  margin-right: 14px
}

.pagination {
  margin-top: 20px;
  margin-bottom: 10px;
  float: right;
}

.pagination > li.disabled > a {
  font-weight: bold;
}

.pagination > li > a,
.pagination > li > span {
  border: none !important;
}

@media (min-width: 768px) {
  .input-group {
    display: block;
  }

  .input-group .form-control {
    border-radius: 4px !important;
  }
}

/* book details (author, genre, etc...) */
.book {
  border-top: 1px solid #e6e6e6;
  margin: 10px 0;
  padding: 10px 0;
}

.book .download {
  margin-top: 130px;
}

.book-details {
  float: left;
}

.book-details-img {
  margin-left: 20px;
}

.book-details--cover {
  float: left;
  width: 100px;
}

.book-details--title {
  font-size: 30px;
  margin-top: 5px;
}

.book-details--author {
  font-size: 18px;
  color: #939292;
  margin-bottom: 15px;
}

.book-details--author label.author-name {
  font-weight: normal;
}

.book-details--author a {
  color: #939292;
}

.book-details--row {
  font-size: 13px;
  clear: both;
  margin-bottom: 10px;
}

label.row-label {
  display: inline-block;
  color: #7f7f7f;
  border-bottom: 1px dotted #7f7f7f;
  width: 180px;
  margin-right: 8px;
  margin-bottom: 0;
  font-weight: normal;
}

.row-label span {
  float: left;
  background: #fff;
  position: relative;
  top: 2px;
  padding-right: 4px;
  line-height: 1em;
}

.row-value {
  line-height: 1.5;
}